<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">
        Agents Status
          <fa-icon
                  placement="bottom"
                  ngbTooltip="Click on the icons to display more information. You can display the information by individual agent or group by location/rack."
                  container="body"
                  [icon]="faInfoCircle"
                  aria-hidden="true"
          >
          </fa-icon>
      </h2>
      <div *ngIf="view == 1"><h6>Location/Rack View</h6></div>
      <div *ngIf="view == 0"><h6>Agent View</h6></div>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group ms-2 ms-3">
      <cm-filter-textbox
                        class="navbar-right"
                        (changed)="filterChanged($event)"
      >
      </cm-filter-textbox>
    </div>
  </div>
</div>
<!-- View Menu -->
<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group ms-2 ms-3">
      <fa-icon
              *ngIf="view == 1"
              placement="bottom"
              class="fagearcust"
              [icon]="faUsers"
              aria-hidden="true"
              #view
              (click)="setView('0')"
      ></fa-icon>
      <fa-icon
              *ngIf="view == 0"
              placement="bottom"
              class="fagearcust"
              [icon]="faServer"
              aria-hidden="true"
              #view
              (click)="setView('1')"
        ></fa-icon>
  </div>
</div>
<!-- Agent View -->
<br>
<div class="row card-container-ag" *ngIf="view == 0">
    <div class="col-xs-6 col-md-4 col-lg-2" *ngFor="let a of _filteresAgents | sort:statusOrderBy:statusOrderByName ; let ind=index">
        <div class="card card-ag overflowAuto">
            <div class="card-header-ag">
              <a [routerLink]="['/agents/agent-status', a.agentId, 'edit']">
                <fa-icon [icon]="faEye" aria-hidden="true" class="white-ico"></fa-icon>
              </a>
              <a underline>{{ a.agentName | shortenString:15 | lowercase | titlecase}} </a>
            </div>
            <div class="card-body">
                <div class="clearfix">
                    <div class="pull-left card-body-left-ag"></div>
                    <div class="pull-left card-body-right-ag">
                        <div class="card-body-content-ag" *ngIf="statDevice | filterItem:'agentId':a.agentId | avg:'value' as result">
                            <fa-icon
                                    [ngbTooltip]=ttDeviceUtil
                                    placement="right"
                                    container="body"
                                    [icon]="faDigitalTachograph"
                                    aria-hidden="true"
                                    hoverDashed
                                    style="cursor: pointer;"
                                    [ngStyle]="{'color':result | asColor:this.getDeviceUtil(a, 0):this.getDeviceUtil(a, 2):1:a.isActive:a.lastTime}"
                            ></fa-icon>
                            <a underline class="display-col pointer" style="cursor: pointer;">{{ result === 'No data'? result:result +'%' }}</a>
                          <div>
                            <!-- Modal Device Utilisation -->
                            <ng-template #ttDeviceUtil let-modal>
                              <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title"><fa-icon [icon]="faDigitalTachograph" aria-hidden="true"></fa-icon> Device Utilisation - <span [ngStyle]="{'color':result | asColor:this.getDeviceUtil(a, 0):this.getDeviceUtil(a, 2):1:a.isActive:a.lastTime}">&#9673;</span> {{ result === 'No data'? result:result +'%' }}</h4>
                              </div>
                              <div class="modal-body">
                                <form>
                                  <div class="mb-3">
                                    <div class="row">
                                      <p>
                                        <span style="color: #009933;">&#9673;</span> Device utilisation is good (> {{ this.getDeviceUtil(a, 2) }} %)
                                      </p>
                                      <p>
                                        <span style="color: #ff9900;">&#9673;</span> Device utilisation not ideal (<= {{ this.getDeviceUtil(a, 1) }} %)
                                      </p>
                                      <p>
                                        <span style="color: #800000;">&#9673;</span> Device utilisation low (<= {{ this.getDeviceUtil(a, 0) }} %)
                                      </p>
                                      <p>
                                        <span style="color: #CCCCCC;">&#9673;</span> Agent is not active
                                      </p>
                                      <p>
                                        <span style="color: #42d4f4;">&#9673;</span> Agent is active but not working or not providing device data
                                      </p>
                                      <p>
                                        <span style="color: #FF0000;">&#9673;</span> Invalid device data from agent or values being 0
                                      </p>
                                      <p>
                                        Note: Threshold can be configured when editing the Agent.
                                      </p>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <div class="card-body-content-ag" *ngIf="statTemp | filterItem:'agentId':a.agentId | max:'value' as result">
                          <fa-icon
                                  [ngbTooltip]=ttDeviceTemp
                                  placement="right"
                                  container="body"
                                  [icon]="faTemperature0"
                                  aria-hidden="true"
                                  hoverDashed
                                  style="cursor: pointer;"
                                  [ngStyle]="{'color': result | asColor:this.getCpuTemp(a, 0):this.getCpuTemp(a, 2):2:a.isActive:a.lastTime}"
                          ></fa-icon>
                          <a underline class="display-col" style="cursor: pointer;">{{ result === 'No data'? result:result +'°' }}</a>
                          <div>
                            <!-- Modal Temperature -->
                            <ng-template #ttDeviceTemp let-modal>
                              <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title"><fa-icon [icon]="faTemperature0" aria-hidden="true"></fa-icon> Temperature - <span [ngStyle]="{'color':result | asColor:this.getCpuTemp(a, 0):this.getCpuTemp(a, 2):2:a.isActive:a.lastTime}">&#9673;</span> {{ result === 'No data'? result:result +'°' }}</h4>
                              </div>
                              <div class="modal-body">
                                <form>
                                  <div class="mb-3">
                                    <div class="row">
                                      <p>
                                        <span style="color: #009933;">&#9673;</span> Device temperatures good ( <= {{ this.getCpuTemp(a, 0) }})
                                      </p>
                                      <p>
                                        <span style="color: #ff9900;">&#9673;</span> Device temperatures acceptable ( <= {{ this.getCpuTemp(a, 1) }})
                                      </p>
                                      <p>
                                        <span style="color: #800000;">&#9673;</span> Device temperatures too high ( > {{ this.getCpuTemp(a, 2) }})
                                      </p>
                                      <p>
                                        <span style="color: #CCCCCC;">&#9673;</span> Agent is not active
                                      </p>
                                      <p>
                                        <span style="color: #42d4f4;">&#9673;</span> Agent is active but not working or not providing device data
                                      </p>
                                      <p>
                                        <span style="color: #FF0000;">&#9673;</span> Invalid device data from agent or values being 0
                                      </p>
                                      <p>
                                        Note: Threshold can be configured when editing the Agent.
                                      </p>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <div class="card-body-content-ag" *ngIf="statCpu | filterItem:'agentId':a.agentId | avg:'value' as result">
                          <fa-icon
                                  [ngbTooltip]=ttCPUUtil
                                  placement="right"
                                  container="body"
                                  [icon]="faMicrochip"
                                  aria-hidden="true"
                                  hoverDashed
                                  style="cursor: pointer;"
                                  [ngStyle]="{'color':result | asColor:this.getCpuUtil(a, 0):this.getCpuUtil(a, 2):3:a.isActive:a.lastTime}"
                          ></fa-icon>
                          <a underline class="display-col" style="cursor: pointer;">{{ result === 'No data'? result:result +'%' }}</a>
                          <div>
                            <!-- CPU Utilisation -->
                            <ng-template #ttCPUUtil let-modal>
                              <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title"><fa-icon [icon]="faMicrochip" aria-hidden="true"></fa-icon> CPU Utilisation - <span [ngStyle]="{'color':result | asColor:this.getCpuUtil(a, 0):this.getCpuUtil(a, 2):3:a.isActive:a.lastTime}">&#9673;</span> {{ result === 'No data'? result:result +'%' }}</h4>
                              </div>
                              <div class="modal-body">
                                <form>
                                  <div class="mb-3">
                                    <div class="row">
                                      <p>
                                        <span style="color: #009933;">&#9673;</span> CPU utilisation is good (> {{ this.getDeviceUtil(a, 2) }} %)
                                      </p>
                                      <p>
                                        <span style="color: #ff9900;">&#9673;</span> CPU utilisation not ideal (<= {{ this.getDeviceUtil(a, 1) }} %)
                                      </p>
                                      <p>
                                        <span style="color: #800000;">&#9673;</span> CPU utilisation low (<= {{ this.getDeviceUtil(a, 0) }} %)
                                      </p>
                                      <p>
                                        <span style="color: #CCCCCC;">&#9673;</span> Agent is not active
                                      </p>
                                      <p>
                                        <span style="color: #42d4f4;">&#9673;</span> Agent is active but not working or not providing CPU data
                                      </p>
                                      <p>
                                        <span style="color: #FF0000;">&#9673;</span> Invalid CPU data from agent or values being 0
                                      </p>
                                      <p>
                                        Note: Threshold can be configured when editing the Agent.
                                      </p>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!showagents.length">
        No Records Found
    </div>
</div>

<!-- Rack View -->

<div class="row card-container-ag" *ngIf="view == 1">
  <div class="col-xs-6 col-md-4 col-lg-2" *ngFor="let gname of _filteresAgents | groupBy:'agentName' | sort:'asc':'agentName'">
      <div class="card card-section">
          <div class="card-header-ag text-center">
            <a>{{ gname.k | shortenString:15 | lowercase | titlecase}} </a>
          </div>
          <div class="card-body" *ngFor="let a of gname.value ; let last=last">
            <div class="row">
              <small><b>
                <a class="display-col" [routerLink]="['/agents/show-agents',a.agentId,'edit']">{{ a.agentName | split:'-':1 | shortenString:15 | lowercase | titlecase }}</a>
              </b></small>
              <div class="col" *ngIf="statDevice | filterItem:'agentId':a.agentId | avg:'value' as result">
                <fa-icon
                        [ngbTooltip]=ttRackDeviceUtil
                        placement="right"
                        container="body"
                        [icon]="faDigitalTachograph"
                        aria-hidden="true"
                        hoverDashed
                        [ngStyle]="{'color':result | asColor:this.getDeviceUtil(a, 0):this.getDeviceUtil(a, 2):1:a.isActive:a.lastTime}"
                ></fa-icon>
                <br>
                <a underline class="display-col">{{ result === 'No data'? result:result +'%' }}</a>
                  <!-- Modal Device Utilisation -->
                  <ng-template #ttRackDeviceUtil let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title"><fa-icon [icon]="faDigitalTachograph" aria-hidden="true"></fa-icon> Device Utilisation - <span [ngStyle]="{'color':result | asColor:this.getDeviceUtil(a, 0):this.getDeviceUtil(a, 2):1:a.isActive:a.lastTime}">&#9673;</span> {{ result === 'No data'? result:result +'%' }}</h4>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                          <div class="row">
                            <p>
                              <span style="color: #009933;">&#9673;</span> Device utilisation is good (> {{ this.getDeviceUtil(a, 2) }} %)
                            </p>
                            <p>
                              <span style="color: #ff9900;">&#9673;</span> Device utilisation not ideal (<= {{ this.getDeviceUtil(a, 1) }} %)
                            </p>
                            <p>
                              <span style="color: #800000;">&#9673;</span> Device utilisation low (<= {{ this.getDeviceUtil(a, 0) }} %)
                            </p>
                            <p>
                              <span style="color: #CCCCCC;">&#9673;</span> Agent is not active
                            </p>
                            <p>
                              <span style="color: #42d4f4;">&#9673;</span> Agent is active but not working or not providing device data
                            </p>
                            <p>
                              <span style="color: #FF0000;">&#9673;</span> Invalid device data from agent or values being 0
                            </p>
                            <p>
                              Note: Threshold can be configured when editing the Agent.
                            </p>
                          </div>
                        </div>
                      </form>
                    </div>
                  </ng-template>
              </div>
              <div class="col" *ngIf="statTemp | filterItem:'agentId':a.agentId | max:'value' as result">
                <fa-icon
                        [ngbTooltip]=ttRackTemp
                        placement="right"
                        container="body"
                        [icon]="faTemperature0"
                        aria-hidden="true"
                        hoverDashed
                        [ngStyle]="{'color': result | asColor:this.getCpuTemp(a, 0):this.getCpuTemp(a, 2):2:a.isActive:a.lastTime}"

                ></fa-icon>
                <br>
                <a underline class="display-col">{{ result === 'No data'? result:result +'°' }}</a>
                <!-- Modal Temperature -->
                <ng-template #ttRackTemp let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title"><fa-icon [icon]="faTemperature0" aria-hidden="true"></fa-icon> Temperature - <span [ngStyle]="{'color':result | asColor:this.getCpuTemp(a, 0):this.getCpuTemp(a, 2):2:a.isActive:a.lastTime}">&#9673;</span> {{ result === 'No data'? result:result +'°' }}</h4>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <div class="row">
                          <p>
                            <span style="color: #009933;">&#9673;</span> Device temperatures good ( <= {{ this.getCpuTemp(a, 0) }})
                          </p>
                          <p>
                            <span style="color: #ff9900;">&#9673;</span> Device temperatures acceptable ( <= {{ this.getCpuTemp(a, 1) }})
                          </p>
                          <p>
                            <span style="color: #800000;">&#9673;</span> Device temperatures too high ( > {{ this.getCpuTemp(a, 2) }})
                          </p>
                          <p>
                            <span style="color: #CCCCCC;">&#9673;</span> Agent is not active
                          </p>
                          <p>
                            <span style="color: #42d4f4;">&#9673;</span> Agent is active but not working or not providing device data
                          </p>
                          <p>
                            <span style="color: #FF0000;">&#9673;</span> Invalid device data from agent or values being 0
                          </p>
                          <p>
                            Note: Threshold can be configured when editing the Agent.
                          </p>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-template>
              </div>
              <div class="col" *ngIf="statCpu | filterItem:'agentId':a.agentId | avg:'value' as result">
                <fa-icon
                        [ngbTooltip]=ttRackCPU
                        placement="right"
                        container="body"
                        [icon]="faMicrochip"
                        aria-hidden="true"
                        hoverDashed
                        [ngStyle]="{'color':result | asColor:this.getCpuUtil(a, 0):this.getCpuUtil(a, 2):3:a.isActive:a.lastTime}"
                ></fa-icon>
                <br>
                <a underline class="display-col">{{ result === 'No data'? result:result +'%' }}</a>
                <!-- CPU Utilisation -->
                <ng-template #ttRackCPU let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title"><fa-icon [icon]="faMicrochip" aria-hidden="true"></fa-icon> CPU Utilisation - <span [ngStyle]="{'color':result | asColor:this.getCpuUtil(a, 0):this.getCpuUtil(a, 2):3:a.isActive:a.lastTime}">&#9673;</span> {{ result === 'No data'? result:result +'%' }}</h4>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <div class="row">
                          <p>
                            <span style="color: #009933;">&#9673;</span> CPU utilisation is good (> {{ this.getCpuUtil(a, 2) }} %)
                          </p>
                          <p>
                            <span style="color: #ff9900;">&#9673;</span> CPU utilisation not ideal (<= {{ this.getCpuUtil(a, 1) }} %)
                          </p>
                          <p>
                            <span style="color: #800000;">&#9673;</span> CPU utilisation low (<= {{ this.getCpuUtil(a, 0) }} %)
                          </p>
                          <p>
                            <span style="color: #CCCCCC;">&#9673;</span> Agent is not active
                          </p>
                          <p>
                            <span style="color: #42d4f4;">&#9673;</span> Agent is active but not working or not providing CPU data
                          </p>
                          <p>
                            <span style="color: #FF0000;">&#9673;</span> Invalid CPU data from agent or values being 0
                          </p>
                          <p>
                            Note: Threshold can be configured when editing the Agent.
                          </p>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-template>
              </div>
              <hr *ngIf="!last" class="mt-0 mb-0 break">
            </div>
          </div>
      </div>
  </div>
</div>
<!-- Agent Activity Table -->
<app-table>
  <app-page-title [title]="'Agents activity'" 
  [buttontitle]="'New Agent'" [buttonlink]="'/agents/new-agent'" [subbutton]="true"></app-page-title>
  <div class=" d-flex flex-row justify-content-end align-items-center m-2">
    Task Color
    <input type="checkbox" class="ms-2" (click)="setTaskColor()">
  </div>
  <table class="table table-striped table-hover table-sm table-bordered" #agentstatus datatable  [dtOptions]="dtOptions"
   [dtTrigger]="dtTrigger"  id="agentstatus">
    <thead class="thead-light">
      <tr>
          <th class="rounded-start">ID</th>
          <th>Status</th>
          <th>Name</th>
          <th>Agent Status</th>
          <th>Currently working on</th>
          <th>
            <!-- <label class="checkbox-color">
              Task Color
              <input type="checkbox"  (click)="setTaskColor($event)">
            </label> -->
            Assigned to
          
          </th>
          <th>Last Activity</th>
          <th>Owner</th>
          <th>Client</th>
          <th>GPUs/CPUs</th>
          <th>+Info</th>
          <th>Access Group</th>
          <th class="rounded-end">Actions</th>
      </tr>
      </thead>
      <tbody>       
        <tr *ngFor="let aa of _filteresAgents; let i = index">
          
          <td class="position-relative">
            {{ aa.agentId }}
          </td>

          <td>
            <app-active-spinner *ngIf="( aa.agentId | aspeed:true | async ) > 0"></app-active-spinner>
          </td>

          <td style="white-space: nowrap;">
            <a [routerLink]="['/agents/agent-status',aa.agentId,'edit']">{{ aa.agentName | shortenString:15 | lowercase | titlecase }}</a>
            <span *ngIf="aa.isTrusted === true" ><fa-icon [icon]="faLock" aria-hidden="true" ngbTooltip='Trust agent with secret data'></fa-icon></span>
          </td>
          <!-- Agent Status -->
          <td>
            <span *ngIf="aa.isActive === true" class="ui-label-inner inline-flex whitespace-nowrap items-center px-2 py-0.5 rounded-md text-xs font-medium text-white capitalize badge my-0" style="background-color: green;">
              Active
            </span>
            <span *ngIf="aa.isActive === false" class="ui-label-inner inline-flex whitespace-nowrap items-center px-2 py-0.5 rounded-md text-xs font-medium text-white capitalize badge my-0" style="background-color: rgba(255, 136, 0, 0.87);">
              Inactive
            </span>
          </td>
          <!-- Currently Working on -->
          <td>
            <div *ngIf="( aa.agentId | aspeed:true | async ) > 0">
              <div *ngIf="aa.taskId">Task:
                <a [routerLink]="['/tasks/show-tasks/',aa.taskId,'edit']">{{ aa.taskName | shortenString:15 | lowercase | titlecase }}</a>,
              </div>
              <div *ngIf="aa.speed">at {{ aa.speed | fileSize:false }} H/s,<br></div>
              <div *ngIf="aa.chunkId" >working on chunk
                <a [routerLink]="['/tasks/chunks',aa.chunkId,'view']">{{ aa.chunkId }}</a>
              </div>
            </div>
          </td>
          <!-- Assigned to Task -->
          <td [ngStyle]="{'background-color': isCheckboxChecked ? aa.color : 'white'}">
            <a *ngIf="aa.taskId">
              <a [routerLink]="['/tasks/show-tasks/',aa.taskId,'edit']"> {{ aa.taskName | shortenString:15 | lowercase | titlecase }}</a>
            </a>
          </td>
          <!-- Last Activity -->
          <td>
            Action: {{ aa.lastAct }}<br>
            Time: {{ aa.lastTime | uiDate }}<br>
            <div *ngIf="aa.lastIp">IP: <b>{{ aa.lastIp }}</b></div>
          </td>
          

          <!-- ** OWNER -->
          <!-- <td [hidden]="!selectedRowIndices.has(i)">
            <a *ngIf="showagents[i].userId > 0"><a [routerLink]="['/users/',showagents[i].userId,'edit']">{{ showagents[i].userId}}</a></a>
          </td> -->
          <td>
            <a *ngIf="showagents[i].userId > 0"><a [routerLink]="['/users/',showagents[i].userId,'edit']">{{ showagents[i].userId}}</a></a>
          </td>
          <!-- ** CLIENT -->
          <td >
            {{showagents[i].agentId}}
            <a *ngIf="!showagents[i].agentId">---</a>
            <a *ngIf="showagents[i].clientSignature.length > 0">{{ showagents[i].clientSignature }}</a>
            <a *ngIf="showagents[i].clientSignature.length === 0">Unknown</a>
            <span *ngIf="showagents[i].notes" ><fa-icon [icon]="faFileText" aria-hidden="true"></fa-icon>
                <a style="display: none;">notes</a>
            </span>
          </td>
          <!-- ** GPU/ CPUS -->
          <td class="pre" >
            {{ showagents[i].devices }}
          </td>
          <!-- ** +INFO -->
          <td style="white-space: nowrap;" >
            <fa-icon *ngIf="showagents[i].cmdPars" [icon]="faTerminal" aria-hidden="true" ngbTooltip={{showagents[i].cmdPars}}></fa-icon>
            <fa-icon *ngIf="showagents[i].cpuOnly" [icon]="faMicrochip" aria-hidden="true" ngbTooltip="CPU Only"></fa-icon>
          </td>
        
         <!--  ** ACCESS GROUP -->
          <td >
            <div *ngFor="let group of showagents[i].accessGroups">
              <a [routerLink]="['/users/access-groups/',group.accessGroupId,'edit']">{{group.groupName}}</a>
              <hr *ngIf="showagents[i].accessGroups.length > 1">
            </div>
          </td>
          <!--  ** EDIT & DELETE -->
          <td class="overflow-hidden">
            <app-button-actions>
              <button ngbDropdownItem [routerLink]="[aa.agentId,'edit']" data-placement="top" title="Edit">
                <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon> Edit
              </button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem data-toggle="tooltip" data-placement="top" title="Delete" (click)="onDelete(showagents[i].agentId)">
                <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon> Delete
              </button>
            </app-button-actions>
          </td>
        </tr>   
      </tbody>
  </table>

 

</app-table>
<!-- Todo Fix Pagination -->
<!-- <div class="align-items-right py-4">
  <cm-pagination
                [totalItems]="totalRecords"
                [pageSize]="pageSize"
                (pageChanged)="pageChanged($event)"
  >
  </cm-pagination>
</div> -->
