<!-- Body -->
<app-page-title [title]="'Assign Access Group'"></app-page-title>
<app-table>
  <div class="row g-3">
    <div class="col-4">
      <div style="width: 300px">
        <select class="form-select mb-2" [(ngModel)]="selectedGroup">
          <option [ngValue]="undefined" disabled>Select AccessGroup</option>
          <option *ngFor="let group of filterData" [ngValue]="group">
            {{ group.accessGroupId }} {{ group.groupName }}
          </option>
        </select>
      </div>
      <div class="m-1">
        <p>Selected agents:</p>
        <div *ngIf="selectedData.size !== 0">
          {{ getSelectedDataArray().join(", ") }}
        </div>
        <div *ngIf="selectedData.size === 0">No Agents Selected</div>
      </div>
      <div class="d-flex mt-5">
        <button
          class="btn btn-success m-1"
          data-toggle="tooltip"
          data-placement="top"
          title="Add the agent to the access group"
          (click)="onAdd()"
        >
          Add
        </button>
        <button
          class="btn btn-danger m-1"
          data-toggle="tooltip"
          data-placement="top"
          title="Remove the agent from the access group"
          (click)="onRemove()"
        >
          Remove
        </button>
      </div>
    </div>

    <div class="col-8">
      <!-- <table
        class="table table-hover table-striped table-sm"
        datatable
        [dtOptions]="dtOptionsAgents"
        [dtTrigger]="dtTriggerAgents"
      > -->
      <button
        class="dt-button buttons-collection btn btn-sm-dt btn-outline-gray-600-dt"
        (click)="onFilterClick()"
      >
        Filter
      </button>
      <table class="table-v2 table-hover table-striped table-sm">
        <thead class="thead-light">
          <tr>
            <th >
              <input
                type="checkbox"
                [checked]="selectAllChecked"
                (change)="toggleSelectAll()"
              />
            </th>
            <th>ID</th>
            <th>Name</th>
            <th>Assigned Task</th>
            <th >Access Group</th>
          </tr>
          <tr [hidden]="!isFilterOpen">
            <th ></th>
            <th></th>
            <th>
              <input
                type="text"
                (keyup)="search($event, 'name')"
                placeholder="Name"
              />
            </th>
            <th>
              <input
                type="text"
                (keyup)="search($event, 'assignedTask')"
                placeholder="Assigned Task"
              />
            </th>
            <th >
              <input
                type="text"
                (keyup)="search($event, 'accessGroup')"
                placeholder="Access Group"
              />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            id="assign-agents-light"
            *ngFor="let agent of filterDataAgent"
            [ngClass]="{ 'highlighted-row': isSelected(agent) }"
            (click)="onRowClick(agent)"
          >
            <td></td>
            <td>
              {{ agent.agentId }}
            </td>
            <td>
              {{ agent.agentName | shortenString : 15 | lowercase | titlecase }}
            </td>
            <td>
              <div>
                {{ agent.taskName }}
              </div>
            </td>

            <td>
              <div *ngFor="let group of agent.accessGroups">
                {{ group.groupName }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div></app-table
>
